@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-stroke-propix {
        -webkit-text-stroke: 1.5px #75e593;
        text-stroke: 1.5px #75e593;
        color: white;
    }
}
